.servicelocations-container {

}

.servicelocations--logo {

}

.servicelocations--heading,
.servicelocations--heading a {
  padding: 1rem;
  background-color: #be0108;
  color: #fff;
}

.locations--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.locations--heading {
  font-size: 2rem;
  font-weight: bold;
}

.locations--location {
  border: 1px solid #c5dcc3;
  padding: .5rem;
  width: 300px;
  cursor: pointer;
}

.location--name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c5dcc3;
}

.location--address {
  font: 700 .85em/1.2em 'Glacial', Arial, Sans-Serif;
}